<%= form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'name:' %><br>
    <%= f.text_field :name, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label 'address:' %><br>
    <%= f.text_area :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :location %><br>
    <%= f.select :location, options_for_select(['Dhaka', 'Chittagong', 'Benapol', 'Others']), {}, {:class=>"form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :agent_type %><br>
    <%= f.select :agent_type, options_for_select(["export", "import", "both"]), {}, {:class=>"form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label 'phone:' %><br>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'mobile:' %><br>
    <%= f.text_field :mobile, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'fax:' %><br>
    <%= f.text_field :fax, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'email:' %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'license:' %><br>
    <%= f.text_field :license, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'grading:' %><br>
    <%= f.text_field :grading, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Agents entry', class: 'btn btn-info btn-lg' %>
  </div>
<% end %>
