<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inquiry.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @inquiry.email %>
</p>

<p>
  <strong>Inquiry type:</strong>
  <%= @inquiry.inquiry_type %>
</p>

<p>
  <strong>User type:</strong>
  <%= @inquiry.user_type %>
</p>

<p>
  <strong>Proprietor trade license:</strong>
  <%= @inquiry.proprietor_trade_license %>
</p>

<p>
  <strong>Partner registered agreement:</strong>
  <%= @inquiry.partner_registered_agreement %>
</p>

<p>
  <strong>Limited maa:</strong>
  <%= @inquiry.limited_maa %>
</p>

<p>
  <strong>Limited certification incorporation:</strong>
  <%= @inquiry.limited_certification_incorporation %>
</p>

<p>
  <strong>Membership of chember:</strong>
  <%= @inquiry.membership_of_chember %>
</p>

<p>
  <strong>Vat reg:</strong>
  <%= @inquiry.vat_reg %>
</p>

<p>
  <strong>Tin number:</strong>
  <%= @inquiry.tin_number %>
</p>

<p>
  <strong>Exim license:</strong>
  <%= @inquiry.exim_license %>
</p>

<p>
  <strong>Company bank account:</strong>
  <%= @inquiry.company_bank_account %>
</p>

<p>
  <strong>Other license:</strong>
  <%= @inquiry.other_license %>
</p>

<p>
  <strong>Commercial invoice:</strong>
  <%= @inquiry.commercial_invoice %>
</p>

<p>
  <strong>Packing list:</strong>
  <%= @inquiry.packing_list %>
</p>

<p>
  <strong>Pro forma invoice:</strong>
  <%= @inquiry.pro_forma_invoice %>
</p>

<p>
  <strong>Shipping documents:</strong>
  <%= @inquiry.shipping_documents %>
</p>

<p>
  <strong>Proof of payment:</strong>
  <%= @inquiry.proof_of_payment %>
</p>

<p>
  <strong>Certificate of origin:</strong>
  <%= @inquiry.certificate_of_origin %>
</p>

<p>
  <strong>Ex erc number:</strong>
  <%= @inquiry.ex_erc_number %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @inquiry.insurance %>
</p>

<p>
  <strong>Bond license:</strong>
  <%= @inquiry.bond_license %>
</p>

<p>
  <strong>Restricted clearance:</strong>
  <%= @inquiry.restricted_clearance %>
</p>

<p>
  <strong>Import reg certificate:</strong>
  <%= @inquiry.import_reg_certificate %>
</p>

<p>
  <strong>Export reg certificate:</strong>
  <%= @inquiry.export_reg_certificate %>
</p>

<p>
  <strong>Location:</strong>
  <%= @inquiry.location %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
